body {
    background-image: url(https://i.ytimg.com/vi/K8m3afuQ0cI/maxresdefault.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}


.abm {
    float: left;
    background-color: transparent;
    width: 300px;
    height: 800px;
    border-radius: 50px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .abm-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .abm:hover .abm-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .abm-front, .abm-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .abm-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .abm-back {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 50px;
    transform: rotateY(180deg);
  }
  .humms {
    float:inline-start;
    background-color: transparent;
    width: 300px;
    height: 800px;
    border-radius: 50px solid #f1f1f1;
    margin-inline-start: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .humms-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .humms:hover .humms-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .humms-front, .humms-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .humms-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .humms-back {
    background-color: rgb(0, 255, 26);
    color: white;
    border-radius:50px;
    transform: rotateY(180deg);
  }

  .ict {
    float: inline-start;
    background-color: transparent;
    width: 300px;
    height: 800px;
    border-radius: 50px solid #f1f1f1;
    margin-inline-start: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .ict-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .ict:hover .ict-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .ict-front, .ict-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .ict-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .ict-back {
    background-color: rgb(115, 0, 255);
    color: white;
    border-radius:50px;
    transform: rotateY(180deg);
  }

  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
